

<!--MAIN PAGE TO ADD LOAN LAUNCH AND REPAYMENT TO ACTIVE AGREEMENT -->
<!--TOP AGREEMENT LIST WITH PAGING, LEFT CARD LAUNCHES RIGHT CARD REPAYMENT-->
<!--ON CLICK LAUNCH OR REPAYMNET WILL DISPLAY DETAIL AND ALLOW TO CHANGE ALL INFORMATION (MODAL TO CONSIDER)-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:include="templates :: head-links"></th:block>
    <title>Agreement Page</title>
</head>
<body class="hold-transition login-page">


<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <th:block th:include="templates :: left-side-menu"></th:block>
    <th:block th:include="templates :: top-navbar"></th:block>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Umowy</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Umowy</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid align-content-md-center">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Uruchomienia | Spłaty</h5>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Numer umowy</th>
                                        <th>Kwota umowy</th>
                                        <th>Pożyczkodawca</th>
                                        <th>Data podpisania</th>
                                        <th>Data spłaty z umowy</th>
                                        <th>Aktywna</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="agreement : ${agreementList}" style="cursor: pointer"
                                        th:onclick="'javascript:rowClicked(\'' + ${agreement.getId()} + '\',\'' + ${agreement.getMoneyLender().getId()} + '\');'">
                                        <td th:text="${agreement.getId()}"></td>
                                        <td th:text="${agreement.getLoanNumber()}"></td>
                                        <td th:text="${agreement.getLoanAmount()}"></td>
                                        <td th:text="${agreement.getMoneyLender().getName()}"></td>
                                        <td th:text="${agreement.getAgreementSignDate()}"></td>
                                        <td th:text="${agreement.getAgreementEndDate()}"></td>
                                        <td th:text="${agreement.isActiveAgreement()}"></td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Numer umowy</th>
                                        <th>Kwota umowy</th>
                                        <th>Pożyczkodawca</th>
                                        <th>Data podpisania</th>
                                        <th>Data spłaty z umowy</th>
                                        <th>Odsetki w terminie</th>
                                        <th>Odsetki po terminie</th>
                                        <th>Aktywna</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="templates :: footer-matrix-scripts"></th:block>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
    //added script to edit each row on click

    function rowClicked(agrId,lenderId) {
        location.href = "/user/agr/update?agreementId=" + agrId + "&moneyLenderId=" + lenderId;
    }
</script>
</body>
</html>