<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:include="templates :: head-links"></th:block>
    <title>Agreement Page</title>
</head>
<body class="hold-transition login-page">


<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <th:block th:include="templates :: left-side-menu"></th:block>
    <th:block th:include="templates :: top-navbar"></th:block>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Umowa</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pożyczkodawca</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid align-content-md-center">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form class="form-horizontal" th:action="@{/user/agr/save}" th:object="${agreement}"
                              th:method="post">
                            <div class="card-body">
                                <h4 class="card-title">Szczegóły umowy</h4>
                                <!--                                ID field = required for update -->
                                <div class="form-group row" th:if="${agreement.id != null}">
                                    <label for="id" class="col-sm-2 text-right control-label col-form-label">Id</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="id" placeholder="#Id"
                                               th:field="*{id}" name="id" readonly required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="numer" class="col-sm-1 text-right control-label col-form-label">Numer</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="numer"
                                               placeholder="numer umowy" th:field="*{loanNumber}" name="loanNumber"
                                               required>
                                    </div>
                                    <label for="amount" class="col-sm-1 text-right control-label col-form-label">Kwota</label>
                                    <div class="col-sm-1">
                                        <input type="text" class="form-control" id="amount"
                                               placeholder="00000,00" th:field="*{loanAmount}" name="loanAmount"
                                               required>
                                    </div>

                                    <label class="col-sm-1 text-right control-label col-form-label">Podpisanie</label>
                                    <input type="text" class="col-sm-1" id="start-date"
                                           placeholder="mm/dd/yyyy" th:field="*{agreementSignDate}"
                                           name="agreementSignDate">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <label class="col-sm-1 text-right control-label col-form-label">Koniec</label>
                                    <input type="text" class="col-sm-1" id="end-date"
                                           placeholder="mm/dd/yyyy" th:field="*{agreementEndDate}"
                                           name="agreementEndDate">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-1 text-right control-label col-form-label">Odsetki w
                                        terminie</label>
                                    <input type="text" class="form-control col-sm-1" placeholder="00,00"
                                           aria-label="Normal interests" aria-describedby="basic-addon2"
                                           th:field="*{normalInterests}" name="normalInterests">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">%</span>
                                    </div>
                                    <label class="col-sm-1 text-right control-label col-form-label">Odsetki po
                                        terminie</label>
                                    <input type="text" class="form-control col-sm-1" placeholder="00,00"
                                           aria-label="Penalty interests"
                                           aria-describedby="basic-addon3"
                                           th:field="*{penaltyInterests}" name="penaltyInterests">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon3">%</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <label class="col-sm-12 text-right control-label col-form-label">Atywna
                                           </label>
                                    </div>
                                    <div class="col-sm-1">
                                        <div class="custom-control custom-checkbox mr-sm-1">
                                            <input type="checkbox" class="custom-control-input"
                                                   id="customControlAutosizing1" th:field="*{activeAgreement}"
                                                   name="activeAgreement">
                                            <label class="custom-control-label"
                                                   for="customControlAutosizing1"></label>
                                        </div>
                                    </div>
                                    <label class="col-sm-1 text-right control-label col-form-label">Pożyczkodawca</label>
                                    <div class="col-sm-3">
                                        <select class="select2 form-control custom-select"
                                                style="width: 100%; height:36px;" id="dropOperator"
                                                name="moneyLender"
                                                required="required">
                                            <!--                                            th:value="*{moneyLender}" required="required">-->
                                            <option class="col-sm-3" th:each="lender : ${moneyLenderList}"
                                                    th:value="${lender.getLenderId()}" th:text="${lender.getName()}"
                                                    th:field="*{moneyLender}">
                                        </select>
                                    </div>


                                </div>


                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-sm-10"></div>

                                        <div class="col-sm-1">
                                            <input type="submit" class="btn btn-success col-sm-12" value="Zapisz">
                                        </div>
                                        <div class="col-sm-1">
                                            <a class="btn btn-danger col-sm-12"
                                               th:href="@{/user/agr/delete(agreementId=${agreement.id})}">Usuń</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:include="templates :: footer-matrix-scripts"></th:block>
<script>
    //***********************************//
    // For select 2
    //***********************************//
    $(".select2").select2();

    /*datwpicker*/

    jQuery('#start-date').datepicker({
        dateFormat: 'dd-mm-yy',
        autoclose: true,
        todayHighlight: true
    });

    jQuery('#end-date').datepicker({
        dateFormat: 'dd-mm-yy',
        autoclose: true,
        todayHighlight: true
    });
</script>
</body>
</html>