<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:include="templates :: head-links"></th:block>
    <title>Agreement Page</title>
</head>
<body class="hold-transition login-page">


<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <th:block th:include="templates :: left-side-menu"></th:block>
    <th:block th:include="templates :: top-navbar"></th:block>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Umowa</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pożyczkodawca</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid align-content-md-center">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">

                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" th:action="@{/user/launch/save}" th:object="${loanLaunch}"
                              th:method="post">
                            <div class="card-body">
                                <h4 class="card-title">Uruchomienie umowy</h4>
                                <!--                                ID field = required for update -->
                                <div class="form-group row">
                                    <div th:if="${loanLaunch.id != null}">
                                        <label for="id"
                                               class="col-sm-3 text-right control-label col-form-label">Id</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="id" placeholder="#Id"
                                                   th:field="*{id}" name="launchId" readonly required>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <div hidden="hidden">-->
<!--                                        <label for="agreementId"-->
<!--                                               class="col-sm-3 text-right control-label col-form-label">Id</label>-->
<!--                                        <div class="col-sm-9">-->
<!--                                            <input type="text" class="form-control" id="agreementId" placeholder="#Id"-->
<!--                                                   th:field="*{agreement.id}" name="agreementId" readonly required>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->


                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Data
                                        uruchomienia</label>
                                    <input type="text" class="col-sm-8" id="launch-date"
                                           placeholder="mm/dd/yyyy" th:field="*{launchDate}" name="agreementSignDate">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="amount" class="col-sm-3 text-right control-label col-form-label">Kwota
                                        uruchomienia</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="amount"
                                               placeholder="00000,00" th:field="*{launchAmount}" name="loanAmount"
                                               required>
                                    </div>
                                </div>
                                <label class="col-sm-3 text-right control-label col-form-label">Umowa</label>
                                <div class="col-sm-9">
                                    <select class="select2 form-control custom-select"
                                            style="width: 80%; height:36px;" id="dropOperator"
                                            name="agreementList"
                                            required="required">
                                        <option class="col-sm-3" th:each="agr : ${agreementList}"
                                                th:value="${agr.getId()}" th:text="${agr.getLoanNumber()}"
                                                th:field="*{agreement}">
                                    </select>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-4">
                                            <input type="submit" class="btn btn-success col-sm-12" value="Zapisz dane">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="card">
                        <!--                        <form class="form-horizontal" th:action="@{/user/launch/add}" th:object="${agreement}"-->
                        <!--                              th:method="post">-->
                        <!--                            <div class="card-body">-->
                        <!--                                <h4 class="card-title">Szczegóły umowy</h4>-->
                        <!--                                &lt;!&ndash;                                ID field = required for update &ndash;&gt;-->
                        <!--                                <div class="form-group row">-->
                        <!--                                    <div th:if="${agreement.get().lenderId != null}">-->
                        <!--                                        <label for="agrid"-->
                        <!--                                               class="col-sm-3 text-right control-label col-form-label">Id</label>-->
                        <!--                                        <div class="col-sm-9">-->
                        <!--                                            <input type="text" class="form-control" lenderId="agrid" placeholder="#Id"-->
                        <!--                                                   th:field="*{lenderId}" name="lenderId" readonly required>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="form-group row">-->
                        <!--                                    <label for="numer" class="col-sm-3 text-right control-label col-form-label">Numer-->
                        <!--                                        umowy</label>-->
                        <!--                                    <div class="col-sm-9">-->
                        <!--                                        <input type="text" class="form-control" lenderId="numer"-->
                        <!--                                               placeholder="numer umowy" th:field="*{}" name="loanNumber"-->
                        <!--                                               required>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="form-group row">-->
                        <!--                                    <label for="amount" class="col-sm-3 text-right control-label col-form-label">Kwota-->
                        <!--                                        umowy</label>-->
                        <!--                                    <div class="col-sm-9">-->
                        <!--                                        <input type="text" class="form-control" lenderId="amount"-->
                        <!--                                               placeholder="00000,00" th:field="*{loanAmount}" name="loanAmount"-->
                        <!--                                               required>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="form-group row">-->
                        <!--                                    <label class="col-sm-3 text-right control-label col-form-label">Data-->
                        <!--                                        podpisania</label>-->
                        <!--                                    <input type="text" class="col-sm-8" lenderId="start-date"-->
                        <!--                                           placeholder="mm/dd/yyyy" th:field="*{agreementSignDate}"-->
                        <!--                                           name="agreementSignDate">-->
                        <!--                                    <div class="input-group-append">-->
                        <!--                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>-->
                        <!--                                    </div>-->

                        <!--                                </div>-->
                        <!--                                <div class="form-group row">-->

                        <!--                                    <label class="col-sm-3 text-right control-label col-form-label">Data końca-->
                        <!--                                        umowy</label>-->
                        <!--                                    <input type="text" class="col-sm-8" lenderId="end-date"-->
                        <!--                                           placeholder="mm/dd/yyyy" th:field="*{agreementEndDate}"-->
                        <!--                                           name="agreementEndDate">-->
                        <!--                                    <div class="input-group-append">-->
                        <!--                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>-->
                        <!--                                    </div>-->

                        <!--                                </div>-->
                        <!--                                <div class="form-group row">-->
                        <!--                                    <label class="col-sm-3 text-right control-label col-form-label">Odsetki w-->
                        <!--                                        terminie</label>-->
                        <!--                                    <input type="text" class="form-control col-sm-8" placeholder="00,00"-->
                        <!--                                           aria-label="Normal interests" aria-describedby="basic-addon2"-->
                        <!--                                           th:field="*{normalInterests}" name="normalInterests">-->
                        <!--                                    <div class="input-group-append">-->
                        <!--                                        <span class="input-group-text" lenderId="basic-addon2">%</span>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                                <div class="form-group row">-->
                        <!--                                    <label class="col-sm-3 text-right control-label col-form-label">Odsetki po-->
                        <!--                                        terminie</label>-->
                        <!--                                    <input type="text" class="form-control col-sm-8" placeholder="00,00"-->
                        <!--                                           aria-label="Penalty interests"-->
                        <!--                                           aria-describedby="basic-addon3"-->
                        <!--                                           th:field="*{penaltyInterests}" name="penaltyInterests">-->
                        <!--                                    <div class="input-group-append">-->
                        <!--                                        <span class="input-group-text" lenderId="basic-addon3">%</span>-->
                        <!--                                    </div>-->

                        <!--                                </div>-->

                        <!--                                <div class="form-group row">-->
                        <!--                                    <div class="col-sm-3">-->
                        <!--                                        <label class="col-sm-12 text-right control-label col-form-label">Atywna-->
                        <!--                                            umowa</label>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-sm-8">-->
                        <!--                                        <div class="custom-control custom-checkbox mr-sm-2">-->
                        <!--                                            <input type="checkbox" class="custom-control-input"-->
                        <!--                                                   lenderId="customControlAutosizing1" th:field="*{activeAgreement}"-->
                        <!--                                                   name="activeAgreement">-->
                        <!--                                            <label class="custom-control-label" for="customControlAutosizing1"></label>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->

                        <!--                                <div class="form-group row">-->
                        <!--                                    <label class="col-sm-3 text-right control-label col-form-label">Pożyczkodawca</label>-->
                        <!--                                    <div class="col-sm-9">-->
                        <!--                                        <select class="select2 form-control custom-select"-->
                        <!--                                                style="width: 100%; height:36px;" lenderId="dropOperator" name="moneyLender"-->
                        <!--                                                th:value="*{moneyLender}" required="required">-->
                        <!--                                            <option class="col-sm-6" th:each="lender : ${moneyLenderList}"-->
                        <!--                                                    th:value="${lender.getLenderId()}"-->
                        <!--                                                    th:text="${lender.getName()}"></option>-->
                        <!--                                        </select>-->
                        <!--                                    </div>-->

                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <div class="border-top">-->
                        <!--                                <div class="card-body">-->
                        <!--                                    <div class="form-group row">-->
                        <!--                                        <div class="col-sm-8"></div>-->
                        <!--                                        <div class="col-sm-4">-->
                        <!--                                            <input type="submit" class="btn btn-success col-sm-12" value="Zapisz dane">-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->

                        <!--                        </form>-->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:include="templates :: footer-matrix-scripts"></th:block>
<script>
    //***********************************//
    // For select 2
    //***********************************//
    $(".select2").select2();

    /*datwpicker*/

    jQuery('#launch-date').datepicker({
        dateFormat: 'dd-mm-yy',
        autoclose: true,
        todayHighlight: true
    });

</script>
</body>
</html>