<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:include="templates :: head-links"></th:block>
    <title>Repayment Page</title>
</head>
<body class="hold-transition login-page">


<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <th:block th:include="templates :: left-side-menu"></th:block>
    <th:block th:include="templates :: top-navbar"></th:block>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Uruchomienia</h4>
                    <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Uruchomienia</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
    </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid align-content-md-center">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Lista uruchomień</h5>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kwota uruchomienia</th>
                                        <th>Data uruchomienia</th>
                                        <th>Numer umowy</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="launch : ${loanLaunchList}" style="cursor: pointer"
                                        th:onclick="'javascript:rowClicked(\'' + ${launch.getId()} + '\''">
                                        <td th:text="${launch.getId()}"></td>
                                        <td th:text="${launch.getLaunchAmount()}"></td>
                                        <td th:text="${launch.getLaunchDate()}"></td>
                                        <td th:text="${launch.getAgreement().getLoanNumber()}"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Kwota uruchomienia</th>
                                        <th>Data uruchomienia</th>
                                        <th>Numer umowy</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="templates :: footer-matrix-scripts"></th:block>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $('#zero_config').DataTable();
    //added script to edit each row on click

    function rowClicked(launchId) {
        location.href = "/user/launch/update?loanLaunchId=" + launchId;
    }
</script>
</body>
</html>