<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:include="templates :: head-links"></th:block>
    <title>Lender Page</title>
</head>
<body class="hold-transition login-page">


<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <th:block th:include="templates :: left-side-menu"></th:block>
    <th:block th:include="templates :: top-navbar"></th:block>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Pożyczkodawca</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Pożyczkodawca</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid align-content-md-center">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-11 ">
                    <div class="card">
                        <form class="form-horizontal" th:action="@{/user/lender/save}" th:object="${moneyLender}"
                              th:method="post">
                            <div class="card-body">
                                <h4 class="card-title">Dane Pożyczkodawcy</h4>
                                <!--                                ID field = required for update -->
                                <div class="form-group row" th:if="${moneyLender.lenderId != null}">
                                    <label for="id" class="col-sm-3 text-right control-label col-form-label">Id</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="id" placeholder="#Id"
                                               th:field="*{lenderId}" readonly required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-sm-3 text-right control-label col-form-label">Pełna
                                        nazwa</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Nazwa/Imię i nazwisko" th:field="*{name}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 text-right control-label col-form-label"
                                           type="text">email</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="email" placeholder="email"
                                               th:field="*{email}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="address"
                                           class="col-sm-3 text-right control-label col-form-label">Adres</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="address" placeholder="ulica"
                                               th:field="*{address}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="miasto"
                                           class="col-sm-3 text-right control-label col-form-label">Miasto</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="miasto" placeholder="miasto"
                                               th:field="*{city}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="zipcode" class="col-sm-3 text-right control-label col-form-label">Kod
                                        pocztowy</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="zipcode" placeholder="kod pocztowy"  th:field="*{postalCode}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="nip"
                                           class="col-sm-3 text-right control-label col-form-label">NIP</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="nip" placeholder="nip"  th:field="*{nip}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="regon"
                                           class="col-sm-3 text-right control-label col-form-label">Regon</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="regon" placeholder="regon"  th:field="*{regon}">
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <input type="submit" class="btn btn-success" value="Zapisz dane">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="templates :: footer-matrix-scripts"></th:block>

</body>
</html>