<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:include="templates :: head-links"></th:block>
    <title>User List Page</title>

</head>
<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">


    <th:block th:include="templates :: top-navbar"></th:block>

    <th:block th:include="templates :: left-side-menu"></th:block>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">User List</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">User List</h5>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${userList}" style="cursor: pointer" th:onclick="'javascript:rowClicked(\'' + ${user.getId()} + '\');'">
                                <th scope="row" th:text="${user.getId()}"></th>
                                <td  th:text="${user.getEmail()}"></td>
                                <td  th:text="${user.getRoles()}"></td>
                                <td >
                                    <button type="submit" class="btn btn-info">Edit</button><button type="submit" class="btn btn-danger">Delete</button></td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="row mb-3">
                            <div class="col-lg-9">
<!--                                <input type="text" class="form-control" placeholder="col-md-8">-->
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" class="btn btn-success"> <i class="m-r-10 mdi mdi-plus"></i> Add new user</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<th:block th:include="templates :: footer-matrix-scripts"></th:block>
<script>
    function rowClicked(value) {
        location.href = "/admin/user/update?userId=" + value;
    }
</script>
</body>
</html>